ion-icon {
  color: whitesmoke;
  --ionicon-stroke-width: 80px;
}

/* jumbotron background image */
h1 {
  font-family: "Splash", cursive;
  background-image: url(../images/cloud\ banner.jpg);
}

h3,
p,
#listC {
  font-family: "Gruppo", cursive;
  font-weight: bold;
}

#listC {
  background-color: lightgrey;
}

h6 {
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
}

.green {
  background-color: green;
  color: white;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
  color: white;
}

.purple {
  background-color: purple;
  color: white;
}
